* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: rgb(0, 175, 160);
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.user-vs-computer-display {
    display: flex;
    flex-direction: row;
}

.user-vs-computer-display > p {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 25px 0px 0px 0px;
}

.game-board {
    display: flex;
    flex-direction: row;
    padding: 25px 0px 25px 0px;
}

.game-board > div {
    display: flex;
    flex: 1;
    justify-content: center;
}

.game-board > p {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
    background-color: rgb(0, 175, 160);
    padding: 10px 0px 10px 0px;
}

.buttons > button {
    font-size: 25px;
    padding: 5px;
}

.score-board {
    display: flex;
    font-size: 25px;
    padding: 10px 0px 10px 0px;
    align-items: center;
    flex-direction: column;
}